<div class="text-center">
  <img src="/assets/main_book.jpg" alt="本の画像" width=100% height=400px>
  <h3 class="mt-5">おすすめマンガ一覧</h3>
</div>
<% if logged_in? %>
  <%= link_to "新規投稿", new_post_path %>
<% end %>
<div class="row">
  <% @posts.each do |post| %>
    <%= link_to post, class: 'col-sm-12' do %>
      <div class="card mt-2 mb-2">
        <div class="card-body">
          <p><%= post.user.name %></p>
          <h3><%= post.title %></h3>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<%== pagy_bootstrap_nav(@pagy) %>

<div class="text-center">
  <small>&copy; Taichi Naitou</small>
</div>